@media (max-width: 1199.99px) {
    .main__text-left {
        font-size: 15px;
    }
}

@media (max-width: 991.99px) {
    .nav__list {
        margin-top: -35px;
    }

    .nav__list-link {
        font-size: 17px;
        margin-right: 35px;
    }

    .main__title {
        font-size: 17px;
    }

    .main__text-left {
        font-size: 15px;
    }

    .header__content {
        max-height: 250px;
    }

    .contacts__text {
        font-size: 15px;
    }

    .contacts__number {
        font-size: 20px;
    }
}

@media (max-width: 767.99px) {
    .nav__list-link {
        font-size: 15px;
        margin-right: 13px;
    }

    .header__content {
        max-height: 255px;
    }


    .main__content {

        max-width: 565px;
        max-height: 257px;
        justify-content: center;

    }

    .main__text-left {
        font-size: 14px;
        text-align: center;
        margin-left: 50px;
    }

    .main__title {
        font-size: 16px;
        text-align: center;
    }

    .main__text-right {
        font-size: 14px;
        text-align: center;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .contacts__text {
        margin-left: 80px;
    }

    .contacts__number {
        font-size: 17px;
        margin-left: 25px;
    }
}

@media (max-width: 575.99px) {
    .nav__list {
        flex-direction: column;
        gap: 5px;
        margin-left: 220px;
    }

    .nav__list-link {
        font-size: 15px;
        margin-right: 8px;
    }

    .main__content {
        max-width: 375px;
        max-height: 320px;
    }

    .footer__img {
        max-width: 160px;
        margin-top: 20px;
    }

    .contacts__number {
        font-size: 16px;
        margin-left: -20px;
    }

    .contacts__text {
        font-size: 14px;
        margin-left: 30px;
    }

}